.outPut {
  margin-top: -7px;

  // height: 20px;
  // background-color: aquamarine;
  .outPutShow {
    display: flex;
    gap: 10px;
    align-items: center;

    .deleteCheck {
      display: flex;
      width: 32px;
      height: 32px;
      padding: 4px;
      justify-content: center;
      align-items: center;
      gap: 4px;
    }
  }

  .addButton {
    display: flex;
    height: 24px !important;
    align-items: center;
    margin-top: 12px;
    text-align: center;
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }
}
